* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 80px;
}

h1,
h2,
h3,
h4,
p {
  color: #666666;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul li {
  list-style-type: none;
}

.header {
  text-align: center;
}
.header .container {
  margin-bottom: 41px;
  max-width: 450px;
}

.container {
  max-width: 1020px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  color: #898f8f;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 17px;
}

h2 {
  font-family: "Roboto";
  line-height: 66px;
  text-transform: uppercase;
  color: #FFCC00;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 32px;
}

.bonfire-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.bonfire {
  width: 20px;
  height: 20px;
}

.bonfire-line-after {
  display: inline-block;
  content: "";
  width: 210px;
  border-top: 1px solid #FFCC00;
}

.bonfire-line-before {
  display: inline-block;
  content: "";
  width: 210px;
  border-top: 1px solid #FFCC00;
}

/*====SECTION=====*/
.photo-box {
  display: inline-block;
  position: relative;
  padding: 15px;
  padding-bottom: 10px;
}

.border-top:before {
  content: "";
  display: inline-block;
  border-top: 1px solid #FFCC00;
  border-left: 1px solid #FFCC00;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}
.border-top:after {
  content: "";
  display: inline-block;
  border-top: 1px solid #FFCC00;
  border-right: 1px solid #FFCC00;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
}

.border-bottom::before {
  content: "";
  display: inline-block;
  border-bottom: 1px solid #FFCC00;
  border-left: 1px solid #FFCC00;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.border-bottom::after {
  content: "";
  display: inline-block;
  border-bottom: 1px solid #FFCC00;
  border-right: 1px solid #FFCC00;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.container.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

main {
  padding-bottom: 150px;
}

.box-left {
  justify-self: start;
}

.center-line {
  height: 560px;
  width: 1px;
  border-left: 1px solid #FFCC00;
  margin: 0 30px;
}

.text-box {
  justify-self: flex-end;
  text-align: center;
  max-width: 430px;
}

h3 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 22px;
}

.line-1 {
  width: 100px;
  border-top: 1px solid #FFCC00;
  margin: 0 auto;
  margin-bottom: 32px;
}

h4 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 33px;
}

.socials {
  margin-bottom: 56px;
}

i {
  border: 2px solid #cccccc;
  border-radius: 100%;
  padding: 10px 8px;
  transition: all 0.2s ease;
}

.socials__item {
  display: inline-block;
  position: relative;
  margin-right: 8px;
}
.socials__item:last-child {
  margin-right: 0px;
}
.socials__item a {
  color: #cccccc;
}
.socials__item .icon-facebook:hover {
  color: rgba(10, 10, 255, 0.699);
  border: 2px solid;
}
.socials__item .icon-twitter:hover {
  color: #00e0e0;
  border: 2px solid;
}
.socials__item .icon-gplus:hover {
  color: red;
  border: 2px solid;
}
.socials__item .icon-linkedin:hover {
  color: blue;
  border: 2px solid;
}

.sometext {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 14px;
  color: #333333;
  margin-bottom: 15px;
  line-height: 24px;
}

.line-2 {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-2 .big-line {
  width: 20px;
  border-top: 4px solid #FFCC00;
  margin: 0px 5px;
}
.line-2 .small-line {
  width: 10px;
  border-top: 4px solid #FFCC00;
}

.view-profile a {
  padding: 4px 10px;
  border: 1px solid #FFCC00;
  display: inline-block;
  font-family: "Open sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #666666;
  text-decoration: none;
  transition: all 0.4s ease;
}
.view-profile a:hover {
  border: 1px solid #666666;
  background-color: #666666;
  color: #ffff;
  border-radius: 5px;
}