@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mgdf87');
  src:  url('fonts/icomoon.eot?mgdf87#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mgdf87') format('truetype'),
    url('fonts/icomoon.woff?mgdf87') format('woff'),
    url('fonts/icomoon.svg?mgdf87#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-set:before {
  content: "\e910";
  color: #4f4f4f;
}
.icon-search-1:before {
  content: "\e911";
  color: #4f4f4f;
}
.icon-change-theme:before {
  content: "\e912";
  color: #4f4f4f;
}
.icon-star:before {
  content: "\e913";
  color: #4f4f4f;
}
.icon-profile-1:before {
  content: "\e900";
  color: #4f4f4f;
}
.icon-eye:before {
  content: "\e901";
  color: #4f4f4f;
}
.icon-lab:before {
  content: "\e902";
  color: #4f4f4f;
}
.icon-lock:before {
  content: "\e903";
  color: #4f4f4f;
}
.icon-log-out:before {
  content: "\e904";
  color: #4f4f4f;
}
.icon-page:before {
  content: "\e905";
  color: #4f4f4f;
}
.icon-pen:before {
  content: "\e906";
  color: #4f4f4f;
}
.icon-wallet:before {
  content: "\e907";
  color: #4f4f4f;
}
.icon-calendar:before {
  content: "\e914";
  color: #bdbdbd;
}
.icon-mail:before {
  content: "\e915";
  color: #bdbdbd;
}
.icon-aside-4:before {
  content: "\e90f";
  color: #bdbdbd;
}
.icon-aside-3:before {
  content: "\e90e";
  color: #bdbdbd;
}
.icon-aside-1:before {
  content: "\e90d";
  color: #bdbdbd;
}
.icon-aside-2:before {
  content: "\e90c";
  color: #bdbdbd;
}
.icon-aside-5:before {
  content: "\e90b";
  color: #bdbdbd;
}
.icon-aside-7:before {
  content: "\e90a";
  color: #bdbdbd;
}
.icon-aside-6:before {
  content: "\e909";
  color: #bdbdbd;
}
.icon-aside-8:before {
  content: "\e908";
  color: #bdbdbd;
}
