$base-size: 16;

@mixin fz($size_px) {
  font-size: ($size_px / $base-size) * 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  @include fz(16);
  background-color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 400;
}

a,
button {
  cursor: pointer;
  transition: all .2s ease;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;

}


/*====HEADER====*/

#header {
  padding-top: 30px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  transition: all .5s ease;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0 20px;
    height: 80px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    position: relative;

    .arrow {
      position: absolute;
      width: 35px;
      height: 35px;
      top: 0px;
      left: -10px;
      transform: rotate(90deg);
      transition: all .3s ease;
      display: none;
    }

    .list {
      display: flex;

    }

    .icon:before {
      color: #4F4F4F;

    }

    li {
      &:hover .icon:before {
        color: #9E8CFC;
      }
    }


    .nav__left {
      .list {
        display: flex;
        gap: 20px;

        li {
          width: 26px;
          height: 26px;
          position: relative;

          .icon {
            font-size: 25px;
            cursor: pointer;

            &.icon-L-1 {
              font-size: 20px;
              position: absolute;
              top: 2px;
              /*Костиль*/

            }
          }



        }
      }
    }

    .nav__right {
      display: flex;
      align-items: center;


      .lang {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-right: 60px;
        cursor: pointer;

        .lang__img {
          width: 26px;
          height: 26px;
        }

        h2 {
          font-size: 18px;
          color: #4F4F4F;
          font-weight: 400;

          &:hover {
            color: #9E8CFC;
          }
        }

      }

      .list {
        display: flex;
        gap: 20px;
        margin-right: 50px;

        .icon {
          font-size: 27px;
          cursor: pointer;

        }



      }

      .user-avatar {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }

    }

  }

  .theme {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -17px;
    right: -7px;
    transition: all .3s ease;

    &:hover {
      transform: scale(1.3);

    }
  }
}

/*====HEADER====*/

/*====HEADER==MOBILE====*/



/*====HEADER==MOBILE====*/

/*====MAIN====*/

#main {
  padding-top: 120px;

  .container {
    max-width: 1319px;

  }
}

/*====ASIDE====*/
#aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  height: 100%;
  width: 220px;
  background-color: #fff;
  transition: all .3s ease;
  z-index: 1000;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  // overflow-y: scroll;

  .logo {
    display: flex;
    width: 90%;
    gap: 7px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 40px;

    .img-wrap-logo {
      width: 32px;
      height: 32px;
    }

    .logo-text {
      font-size: 18px;
      font-weight: 500;
      color: #392C72;

    }
  }



  .arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 39px;
    cursor: pointer;
    transition: all .3 ease;
    transform: rotate(0deg);
    transition: all .3s ease;

    img {
      transition: all .2s ease;

      &:hover {
        transform: scale(1.6);

      }

    }
  }

  .subtext {
    color: #4F4F4F;
    font-size: 16px;
    white-space: nowrap;
    transition: all .3s ease;
    opacity: 1;

  }

  .list {
    width: 100%;
    margin-bottom: 20px;
  }

  .list__item {
    width: 100%;
    padding: 9.5px 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    cursor: pointer;
    transition: all .3s ease;

    i:before {
      color: #4F4F4F;
    }

    &:hover {
      background-color: #9E8CFC;
      box-shadow: 0px 0px 20px rgba(158, 140, 252, 0.7);
    }

    &:hover i:before {
      color: #ffffff;
    }

    &:hover .subtext {
      color: #ffffff;
    }

    i {
      font-size: 28px;

    }

    .icon-notify {
      position: relative;

      img {
        position: absolute;
        width: 20px;
        height: 20px;
        top: -6px;
        right: -14px;
      }
    }
  }


  .dashboard {
    margin-bottom: 25px;
  }

  .title-wrap {
    width: 100%;
    padding: 5px 15px;
  }

  .title {
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    color: #828282;

  }

  .purple-line {
    width: 13px;
    height: 4px;
    border-top: 4px solid #9E8CFC;
    border-radius: 10px;
    position: relative;
    margin-bottom: 15px;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -14px;
      width: 9px;
      height: 4px;
      background-color: #9E8CFC;
      border-radius: 10px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -14px;
      width: 9px;
      height: 4px;
      background-color: #9E8CFC;
      border-radius: 10px;
    }

    display: none;
  }
}

#aside.closed {
  width: 90px;

  .logo {
    justify-content: center;

    .logo-text {
      display: none;
    }
  }


  .arrow {
    transform: rotate(180deg);

  }

  .subtext {
    transition: all .3s ease;
    display: none;
  }


  .list__item {
    justify-content: center;
    align-items: center;

    i {
      margin-bottom: 0;

    }
  }

  .title-wrap {
    display: flex;
    justify-content: center;

    .title {
      display: none;
    }

    .purple-line {
      display: block;
    }

  }
}


::-webkit-scrollbar {
  display: none;
}