* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    width: 90%;
    font-size: 20px;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    padding: 100px;
 margin: 0 auto; 
}
body {
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    border: 2px solid grey;
    padding: 10px 10px;
    border-radius: 10px;
    color: rgba(41, 40, 40, 0.979);
    background-color: whitesmoke;
}

a:hover {
    border: 2px solid tomato;
    background-color: tomato;
}





.line {
border: 1px solid grey;
width: 170px;
margin: 0 auto;
}



.grid-container {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(10, 1fr);
gap: 30px;
}

.item {

   border: 2px solid grey;
   border-radius: 10px;
   transition: all .2s ease;
   background-color:grey;
   display: flex;
    justify-content: center;
    align-items: center;
    
}

.item-18 {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
}

.item-18 p {
    width: 550px;
}
h2 {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 60px;

}
p {
    font-size: 25px;
    color: #ffffff;
}