* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
  min-width: 380px;
}

a,
button {
  cursor: pointer;
  transition: all 0.2s ease;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

p {
  font-family: "Lato";
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}

h1,
h2 {
  font-family: "Red Hat Display";
  font-weight: 600;
}

h1 {
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0.1em;
  margin-bottom: 44px;
}

section {
  text-align: left;
  display: block;
  margin-bottom: 90px;
}
section:last-child {
  margin-bottom: 0;
}

main {
  margin-bottom: 90px;
}

/*=====HEADER=====*/
.header .container {
  padding: 38px 0;
}
.header .container .logo p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #000000;
}

/*=====HEADER=====*/
/*=====SECTION-1=====*/
.section-1 h1 {
  margin-bottom: 56px;
}
.section-1 .img-wrap {
  margin-bottom: 86px;
}
.section-1 p {
  max-width: 570px;
}

/*=====SECTION-1=====*/
.img-wrap {
  margin-bottom: 13px;
}

/*=====FOOTER=====*/
.footer {
  background-color: #F4F4F4;
}
.footer .container {
  padding-top: 70px;
  padding-bottom: 30px;
}
.footer .container .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}
.footer .container .top .contacts h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.05em;
  margin-bottom: 33px;
}
.footer .container .top .contacts p {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #000000;
}
.footer .container .top .contacts .number {
  margin-bottom: 24px;
}
.footer .container .top .socials {
  display: flex;
  position: relative;
  top: 4px;
}
.footer .container .top .socials .socials__item {
  margin-right: 23px;
}
.footer .container .top .socials .socials__item:last-child {
  margin-right: 0px;
}
.footer .container .top .socials .socials__item a {
  text-decoration: none;
  color: #565656;
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container .top .socials .socials__item a:hover {
  background-color: #565656;
}
.footer .container .top .socials .socials__item a:hover i::before {
  color: #ffffff;
  transform: scale(1.09);
}
.footer .container .top .socials .socials__item a i {
  font-size: 24px;
}
.footer .container .top .socials .socials__item a .icon-footer-twitter-icon {
  font-size: 21px;
}
.footer .container .bottom {
  text-align: center;
}
.footer .container .bottom p {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #000000;
}