@media screen and (max-width: 883px) {

    html,
    body {
        overflow-x: hidden;
    }

    .header nav {
        display: none;
    }

    .header {
        padding: 20px;
    }

    .nav__search {
        margin-right: 40px;
        position: absolute;
        right: 70px;
    }



    .container {
        max-width: 700px !important;
    }


    .section-1 {
        padding-top: 59px;

        .section-wrap {
            height: 320px !important;

            .container {
                h1 {

                    font-size: 36px;
                    line-height: 50px;
                    padding-top: 30px;
                }
            }
        }


    }

    .section-2 {
        .container {
            .flex-container {
                p {
                    line-height: 27px;
                }

                .info__text {
                    flex-basis: 75%;
                }
            }
        }

        margin-bottom: 70px !important;
    }

    .section-3 {
        .container {
            .flex-container {
                flex-direction: column;

                .infobox {
                    flex-direction: row;

                    .info__text {
                        flex-basis: 93%;
                    }
                }

                .second {
                    flex-direction: row-reverse;
                }
            }
        }

        margin-bottom: 70px !important;
    }

    .section-5 {
        .container {
            visibility: visible;

            h2.title.last {
                margin-bottom: 20px;
            }
        }
    }

    .footer {
        .container {
            .footer__info {
                flex-direction: column;
                margin-bottom: 40px;
            }

            .footer__info .info-left {
                text-align: center;
                margin-bottom: 52px;
            }
        }
    }

    .hamburger {
        display: inline-block;
    }

}
@media screen and (max-width: 540px) {
 .mobile_navigation.navigation,
 .mobile_navigation.navigation.open {
     width: 270px;

     .nav__list {
        margin-left: 40px;
         .logo {
             width: 170px;
         }

         .nav__link {
             a {
                 font-size: 28px;
             }

         }
     }

 }

 #hamburger-bg.open {
     width: 90px;
     height: 70px;
 }
}

@media screen and (max-width: 500px) {

    html,
    body {

        overflow-x: hidden;
    }

    .container {
        max-width: 300px;
    }

    .section-1 {
        .section-wrap {
            .container {
                h1 {
                    font-size: 30px;
                    max-width: 300px;
                }
            }
        }

    }

    .nav__search {
        margin-right: 20px;
    }

    .section-2 h2.title {
        text-align: center;
    }

    .section-2 .infobox {
        flex-direction: column;
    }

    .section-2 .first {
        flex-direction: column-reverse;

    }

    .section-3 .container {
        .head {
            flex-direction: column;
            align-items: start;

            h2 {
                margin-bottom: 10px;
            }
        }

        .flex-container {
            gap: 50px;

            .infobox {
                flex-direction: column;

                p.suptitle {
                    font-size: 16px;
                }
            }
        }
    }

    .section-4 .container {
        .head {
            flex-direction: column;
            align-items: start;

            h2 {
                margin-bottom: 10px;
            }

        }

        .flex-container {
            flex-direction: column;
            gap: 50px;

            .date p.suptitle {
                font-size: 16px;
            }
        }
    }

    .section-5 {
        visibility: visible;

        .container {
            .text {
                text-align: left;
            }
        }
    }

    .footer .info-left .title {
        font-size: 32px;
    }

    .footer .info-left .text {
        font-size: 18px;
    }

    .footer .info-left {
        margin-bottom: 40px;
    }

    .footer .footer-subinfo .text {
        font-size: 16px;
        letter-spacing: 0.1em;
    }
    .mobile_navigation.navigation,
    .mobile_navigation.navigation.open {
        width: 270px;

        .nav__list {
            .logo {
                width: 170px;
            }

            .nav__link {
                a {
                    font-size: 28px;
                }

            }
        }

    }

    #hamburger-bg.open {
        width: 90px;
        height: 70px;
    }
}

@media screen and (max-width: 368px) {
    .mobile_navigation.navigation,
    .mobile_navigation.navigation.open {
        width: 210px;

        .nav__list {
           

            .logo {
                width: 130px;
            }

            .nav__link {
                a {
                    font-size: 22px;
                }

            }
        }

    }
}