$base-size: 16;
$grey-color: #565656;

@mixin fz($size_px) {
  font-size: ($size_px / $base-size) * 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  @include fz(16);
  font-family: 'Lato';
  font-weight: 400;
}

a,
button {
  cursor: pointer;
  transition: all .2s ease;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}


/*====HEADER=====*/

.header {
  padding: 40px 0px;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 1px #dddddd;

  .container {
    display: flex;
    justify-content: space-between;

  }

  .logo {
    img {
      object-fit: none;
    }
  }
}

.navigation {
  display: flex;

  .nav__list {
    display: flex;
    gap: 42px;
    margin-right: 48px;

    .nav__link {

      a {
        text-decoration: none;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #000000;
        position: relative;

        &:before {
          /*Цей код списав з інтернету щоб працювало в сафарі*/
          content: '';
          width: 100%;
          height: 1px;
          background-color: #000000;
          position: absolute;
          left: 0;
          bottom: -5px;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: right;
          -ms-transform-origin: right;
          transform-origin: right;
          -webkit-transition: -webkit-transform 0.25s;
          transition: -webkit-transform 0.25s;
          -o-transition: transform 0.25s;
          transition: transform 0.25s;
          transition: transform 0.25s,
            -webkit-transform 0.25s;
        }

        &:hover:before {
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1);
          -webkit-transform-origin: left;
          -ms-transform-origin: left;
          transform-origin: left;
          -webkit-transition: -webkit-transform 0.25s;
          transition: -webkit-transform 0.25s;
          -o-transition: transform 0.25s;
          transition: transform 0.25s;
          transition: transform 0.25s, -webkit-transform 0.25s;
        }
      }

    }

  }

  .nav__search {
    cursor: pointer;
    display: flex;
    width: 25px;
    height: 25px;
   
  }
}





/*====HEADER=====*/

/*====TEXT STYLE=====*/
h1 {
  font-family: 'Red Hat Display';
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.05em;

}

p {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: $grey-color;

}

/*====TEXT STYLE=====*/

/*====SECTION-1=====*/


.section-1 {
  padding-top: 100px;

  .section-wrap {
    background: url(../img/section-1-bg-image.png) no-repeat;
    height: 600px;
    margin-bottom: 90px;
    width: 100%;
    background-size: 100% 100%;
  }

  h1 {

    max-width: 770px;
    padding-top: 100px;
  }
}

/*====SECTION-1=====*/


/*====SECTION-2=====*/
h2 {

  font-family: 'Red Hat Display';
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Red Hat Display';
  font-size: 23px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.1em;
}

.suptitle,
.subtitle {
  color: #7B7B7B;
  letter-spacing: 0.1em;
}

/*====SECTION-2=====*/
.section-2 {
  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .infobox {
    display: flex;
    gap: 30px;
    width: 100%;
  }

  .info__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    flex-basis: 48%;
  }

  .second {
    justify-content: flex-end;
  }

  margin-bottom: 90px;

}




.section-2 {
  h2 {
    letter-spacing: 0.05em;
  }

  .suptitle {
    margin-bottom: 23px;

  }

  h3.title {
    margin-bottom: 8px;
    max-width: 369px;

  }

  .subtitle {
    margin-bottom: 49px;

  }

  .text {
    margin-bottom: 10px;
  }


}



/*====SECTION-2=====*/


/*====SECTION-3=====*/
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;

  h2.title {
    margin-bottom: 0px;
    font-size: 28px;
    font-weight: 600;
    line-height: 46.48px;
  }
}


.section-3 {
  .flex-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;

    .infobox {
      display: flex;
      flex-direction: column;
      align-items: start;
      flex-basis: 33.3333%;
      gap: 25px;

      .info__photo {
        width: 100%;

        img {
          object-fit: cover;
        }
      }

    }


  }

  .date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .suptitle {
      font-size: 12px;
      color: #7B7B7B;
      line-height: 19.92px;
    }

  }

  h3.title {
    font-size: 22;
    line-height: 36.52px;
    margin-bottom: 16px;
    letter-spacing: 0.07em;
  }

  margin-bottom: 114px;
}

/*====SECTION-3=====*/

/*====SECTION-4=====*/

.section-4 {
  .head {
    margin-bottom: 46px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 52px;

    .infobox {
      flex-basis: 49%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .date {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .suptitle {
          font-size: 12px;
          line-height: 20px;

        }
      }

      .title {
        font-size: 24px;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 16px;
      }
    }
  }

  .btn {
    width: 180px;
    height: 46px;
    font-family: 'Lato';
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #ffffff;
    background-color: #565656;
    cursor: pointer;
    border: none;
    transition: all .3s ease;

    &:hover {
      transform: scale(1.09);
      background-color: darken($color: #565656, $amount: 8);
    }

  }

  .button-wrap {
    width: 100%;
    text-align: center;
  }

  margin-bottom: 90px;
}


/*====SECTION-4=====*/
/*====SECTION-5=====*/

.section-5 {
  h2.title {
    margin-bottom: 0px;
    font-size: 23px;
    line-height: 38.18px;
  }

  .title {
    margin-bottom: 20px;
  }

  .arrow {
    margin-bottom: 50px;
  }

  .text {
    width: 100%;
    text-align: right;
    letter-spacing: 0.05em;
  }

  margin-bottom: 70px;
  visibility: hidden;
}

/*====SECTION-5=====*/



/*====FOOTER=====*/

.footer {
  padding: 70px 0px 30px 0px;
  background-color: #F4F4F4;

  .footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;

    h2.title {
      margin-bottom: 26px;
      letter-spacing: 0.05em;
    }

    p {
      color: #000000;
      margin-bottom: 12px;
      letter-spacing: 0.1em;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }


  .links {
    display: flex;
    position: relative;
    bottom: -3px;

    .links__item {
      margin-right: 23px;


      &:last-child {
        margin-right: 0px;
      }

      a {
        text-decoration: none;
        color: #565656;
        width: 50px;
        height: 50px;
        border: 1px solid #565656;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: #565656;
        }

        &:hover i::before {
          color: #ffffff;
          transform: scale(1.09);
        }

        i {
          font-size: 24px;

        }

        .icon-footer-twitter-icon {
          font-size: 21px;
        }
      }


    }


  }
}

.footer-subinfo {
  width: 100%;
  text-align: center;

  p {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    letter-spacing: 0.1em;
  }
}




/*====FOOTER=====*/

/*====ARROW=====*/


.section-3,
.section-4 {
  .arrow {
    display: flex;
    width: 112px;
    justify-content: space-between;
    align-items: center;
  }
}

/*====ARROW=====*/


/*=====MOBILE MENU======*/
.hamburger {
  padding: 0;
  display: none;
  z-index: 1000;
  position: fixed;
  right: 34px;
  top: 20px;
  z-index: 1000;
}

#mobile-menu-wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(6px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 998;
  visibility: hidden;
  transition: all .5s ease;
  opacity: 0;

  &.open {
    visibility: visible;
    opacity: 1;

    &:checked {}
  }
}

#hamburger-bg {
  width: 120px;
  height: 100px;
  position: fixed;
  background-color: #ffff;
  right: 0;
  border-radius: 0 0 0 50%;
  transform: translateX(120px) translateY(-120px);
  -webkit-transform: translateX(120px) translateY(-120px);
  transition: all .5s ease;
  z-index: 999;

  &.open {
    transform: translate(0);
    -webkit-transform: translate(0);
  }
}

.mobile_navigation {
  position: fixed;
  z-index: 999;
  width: 380px;
  height: 90vh;
  background-color: #ffffff;
  top: 30px;
  overflow-y: auto;
  border-radius: 0 70px 70px 0;
  transform: translateX(-380px) scale(0.7);
  -webkit-transform: translateX(-380px) scale(0.7);
  transition: all .5s ease;

  &.open {
    transform: translateX(0) scale(1);
    -webkit-transform: translateX(0) scale(1);
  }

  &.navigation {
    .nav__link {
      a {
        font-size: 30px;

      }
    }
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-left: 60px;
    padding-top: 60px;
    margin-right: 0px;
    .last {
      padding-bottom: 90px;
    }
    .logo {
      width: 250px;
      height: 30px;
    }
  }
}