* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

main {
    padding-bottom: 120px;
}

section {
    margin-top: 120px;
}

img {
    height: 100%;
    filter: contrast(50%);
    transition: all .2s ease;
    z-index: 1;
}



h1 {
    font-family: 'Delius Unicase', cursive;
    font-size: 36px;
    margin-bottom: 73px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.05em;
}





.item {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:hover .buttons {
        top: 0px;
    }

    &:hover .left {
        transform: translate(0);
    }

    &:hover .right {
        transform: translate(0);

    }

    &:hover img {
        transform: scale(1.1);
        filter: contrast(100%);
    }
}



.grid-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.section-1 .grid-container {

    grid-template-rows: repeat(3, 1fr)
}

/*===SECTION---1===*/
.section-1 .item-2,
.section-1 .item-6 {
    grid-column: span 2;
}

.section-1 .item-3 {
    grid-column: 1/3;
}

/*===SECTION---1===*/


/*===SECTION---2===*/

.section-2 .grid-container {
    grid-template-rows: repeat(4, 1fr)
}

.section-2 .item-2,
.section-2 .item-5 {
    grid-column: span 2;
}

.section-2 .item-3 {
    grid-area: 2/1/4/3;
}

.section-2 .item-4 {
    grid-row: 2/4;
}


/*===SECTION---2===*/

/*===SECTION---3===*/
.section-3 .grid-container {
    grid-template-rows: repeat(5, 1fr)
}

.section-3 .item-2 {
    grid-area: 1/2/3/3;
}

.section-3 .item-5 {
    grid-area: 2/3/4/3;
}

.section-3 .item-6 {
    grid-area: 3/1/5/1;
}

.section-3 .item-8,
.section-3 .item-9 {
    grid-column: span 2;
}

/*===SECTION---3===*/


.text {
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-family: Roboto;
    z-index: 0;

    & .city {
        font-weight: 500;
        color: #FFFFFF;
    }

    & .date {
        font-weight: 400;
        color: #e0e0e0;
    }
}

.buttons {
    position: absolute;
    transition: all .2s ease;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    border: none;
    z-index: 0;
    opacity: 1;
    top: 0px;

    & .left {
        transform: translate(-60px, -60px);
        transition: all .4s ease;
    }

    & .right {
        transform: translate(60px, -60px);
        transition: all .4s ease;
    }

    img {
        width: 20px;
        height: 20px;
    }
}


.btn {
    width: 40px;
    height: 40px;
    background-color: #E0E0E080;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: #E0E0E0;
        transition: all .2s ease;
    }
}