* {
padding: 0;
margin: 0;
box-sizing: border-box;
transition: all .1s ease-in
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    font-family: 'Lato', sans-serif;
  
}


/*===HEADER===*/

.header {

padding-top: 9px;
padding-bottom: 6.5px;
box-shadow: 0 0 0 1px gray;

}
.logo {
display: inline-block;
margin-right: 200px;
vertical-align: middle;
position: relative;
top: 1px;
right: 2px;
}
.header .menu, .menu__list, .menu__list-item  {
    display: inline-block;   
  position: relative;
  top: 1px;
}
a {
text-decoration: none;
 color: #3C3C3C;

}
.menu__link:hover {
    color: #18B5DC;
 }

.menu__list-item {
margin-right: 26px;
font-size: 20px;
font-weight: 600;

}
.menu__list-item:last-child {
    margin-right: 0px;
}

.header .menu {
    margin-right: 246px;
}


.button{
    top: 19px;
  position: absolute;
  right: 19.4%;
    border: 1px solid #000;
    cursor: pointer;
    background-color: #ffff;
    display: block;
    padding: 9px 19px;
    font-weight: 600;
    font-size: 18px;
    font-family: lato;
}


.button:hover {
    background-color: #18B5DC;
    color: #FFFF;
    border: 1px solid  #18B5DC;
    
}

/*===HEADER===*/



/*===SECTION ABOUT===*/

 .about {
  background-color: #F6F6F6;
  padding: 150px 135px;
  text-align: center;
  padding-top: 149px;
}

.team__list-item {
    text-align: left;
}

.title__head {
font-size: 34px;
font-weight: 700;
margin-bottom: 13px;
color:  #3C3C3C;
position: relative;
right: 1px;
letter-spacing: 0.13em;
}

.title__line {
    height: 4px;
    width: 45px;
    background-color: #DDDBDB;;
    display: inline-block;
    margin-bottom: 37px;
    position: relative;
    right: 4px;
}
.title__subtitle {
width: 570px;
margin: 0 auto;
font-family: Lato;
font-size: 16px;
font-weight: 300;
text-align: center;
color: #3C3C3C;
position: relative;
right: 3px;
margin-bottom: 54px;
line-height: 24px;
}

ul li {
    list-style-type: none;
}
.team__socials {
   width: 270px;
   height: 270px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #18B5DC;
   position: absolute;

}

.link__icon--white {
    display: none;
}


.link__wrapper:hover .link__icon {
display: none;
}

.link__wrapper:hover .link__icon--white {
    display: block;
}














.team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flip-card {
    margin-bottom: 20px;
}
.team__sup-text {
font-size: 18px;
font-weight: 700;


}
.team__sub-text {
 font-size: 18px;
 font-weight: 300;

}
/*===SECTION ABOUT===*/
/*======FLIP-CARD=====*/
.flip-card {
    background-color: transparent;
    width: 270px;
    height: 270px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
  }
  
 
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
 
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
 
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
 
  .flip-card-back {
   
    transform: rotateY(180deg);
  }

/*======FLIP-CARD=====*/




/*===FOOTER===*/

.footer .container {
    padding: 38px 135px 40px 135px;
    text-align: center;
   
}

.logo.footer {
    margin-right: 0px;
    right: 5px;
    margin-bottom: 24px;
}
.menu.footer .menu__list-item {
margin-right: 26px;
font-size: 18px;
position: relative;
right: 5px;
margin-bottom: 30px;
}
.menu.footer .menu__list-item:last-child {
    margin-right: 0px;
} 
.socials__item {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    right: 2px;
    cursor: pointer;
}

 .socials__item.twitter::before{
    content:  url(../assets/socials-img-footer-white/twitter.svg);
    position: absolute;
    display: inline-block;
    
} 
.socials__item.facebook::before {
    content: url(../assets/socials-img-footer-white/facebook.svg);
    position: absolute;
    display: inline-block;
}
.socials__item.instagram::before {
    content: url(../assets/socials-img-footer-white/instagram.svg);
    position: absolute;
    display: inline-block;
}
.socials__item.linkedin::before {
    content: url(../assets/socials-img-footer-white/linkedin.svg);
    position: absolute;
    display: inline-block;
}
.socials__item.telegram::before {
    content: url(../assets/socials-img-footer-white/telegram.svg);
    position: absolute;
    display: inline-block;
}

.socials__item:hover.socials__item::before  {
    display: none;

 } 












