
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
   
}

.container {
    max-width: 1198px;
    width: 90%;
    margin: 0 auto;
}

h2 {
    font-family: 'Francois One';
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-right: 6px;
    display: inline-block;
}
p {
    font-family: PT Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;

}

.i {
    font-style: italic;
}
.bold {
    font-weight: 700;
}

/*====HEADER====*/

.header {
    padding: 11px 0px;
    margin-bottom: 68px;
}
.header .container {
    display: flex;
    justify-content: space-between;
  vertical-align: bottom;
}
h1 {
 font-family: Tourney;
font-size: 22px;
font-weight: 600;
line-height: 18px;
text-transform: uppercase;
display: inline-block;
margin-right: 50px;
}

.header p {
font-family: Staatliches;
font-size: 22px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.03em;
display: inline-block;
}
.header .slash {
padding: 0px 10px;
}

.header__left {
    display: inline-block;
    align-self: center;
}
/*====HEADER====*/


/*====MAIN====*/


section {
    margin-bottom: 60px;
}
section:last-child {
    margin-bottom: 90px;
}

.title {
position: relative;
margin-bottom: 40px;
}

.suptext {
    width: 100px;
    height: 20px;
    font-family: 'Farro';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    position: absolute;
    top: 0px;
    display: inline-block;    
}

.underline {
    text-decoration: underline;
}

.section-3 p {
    margin-bottom: 28px;
}

.grey-bg {
    background-color: rgb(231, 231, 231);

}
