/* francois-one-regular - latin */
@font-face {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/francois/francois-one-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/francois/francois-one-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/francois/francois-one-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/francois/francois-one-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/francois/francois-one-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/francois/francois-one-v20-latin-regular.svg#FrancoisOne') format('svg'); /* Legacy iOS */
  }
  /* tourney-regular - latin */
@font-face {
    font-family: 'Tourney';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/tourney/tourney-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/tourney/tourney-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/tourney/tourney-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/tourney/tourney-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/tourney/tourney-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/tourney/tourney-v8-latin-regular.svg#Tourney') format('svg'); /* Legacy iOS */
  }
  /* tourney-600 - latin */
  @font-face {
    font-family: 'Tourney';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/tourney/tourney-v8-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/tourney/tourney-v8-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/tourney/tourney-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/tourney/tourney-v8-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/tourney/tourney-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/tourney/tourney-v8-latin-600.svg#Tourney') format('svg'); /* Legacy iOS */
  }
  /* staatliches-regular - latin */
@font-face {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/staatliches/staatliches-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/staatliches/staatliches-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/staatliches/staatliches-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/staatliches/staatliches-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/staatliches/staatliches-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/staatliches/staatliches-v11-latin-regular.svg#Staatliches') format('svg'); /* Legacy iOS */
  }

  /* farro-300 - latin */
@font-face {
    font-family: 'Farro';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/farro/farro-v14-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/farro/farro-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/farro/farro-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/farro/farro-v14-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/farro/farro-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/farro/farro-v14-latin-300.svg#Farro') format('svg'); /* Legacy iOS */
  }
  /* farro-regular - latin */
  @font-face {
    font-family: 'Farro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/farro/farro-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/farro/farro-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/farro/farro-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/farro/farro-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/farro/farro-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/farro/farro-v14-latin-regular.svg#Farro') format('svg'); /* Legacy iOS */
  }
  /* pt-sans-regular - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans/pt-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/pt-sans/pt-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-sans/pt-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans/pt-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-sans/pt-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-sans/pt-sans-v17-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
  }
  /* pt-sans-italic - latin */
  @font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/pt-sans/pt-sans-v17-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/pt-sans/pt-sans-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-sans/pt-sans-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans/pt-sans-v17-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-sans/pt-sans-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-sans/pt-sans-v17-latin-italic.svg#PTSans') format('svg'); /* Legacy iOS */
  }