@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?d6j9pl');
  src:  url('../fonts/icons/icomoon.eot?d6j9pl#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?d6j9pl') format('truetype'),
    url('../fonts/icons/icomoon.woff?d6j9pl') format('woff'),
    url('../fonts/icons/icomoon.svg?d6j9pl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-burger:before {
  content: "\e9bd";
}
