@media screen and (max-width: 936px) {
  .header .container {
    padding: 0 30px;
    flex-direction: row-reverse;
  }
  .header .container .header__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
  }
  .header .container .header__left h1 {
    display: none;
  }
  .header .container .icon-burger {
    display: inline-block;
  }

  .container aside {
    display: none;
  }
}
@media screen and (max-width: 662px) {
  .header .container {
    justify-content: space-between;
    width: 100%;
  }
  .header .container .header__left {
    width: 33px;
  }
  .header .container .links {
    display: none;
  }
}