* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
}
html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1198px;
    width: 90%;
    margin: 0 auto;
}

body {
    background-image: url(../img/bg-picture.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top 40% right 9%;
}
/*===FONTS===*/
h1 {
    font-family: Tourney;
   font-size: 23px;
   font-weight: 600;
   line-height: 18px;
   text-transform: uppercase;
   display: inline-block;
   margin-right: 50px;
   }
   h2, .nav__item{
    font-family: 'Francois One';
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: inline-block;
    color: #000000;
    text-decoration: none;
   
}



.i {
    font-style: italic;
}
.bold {
    font-weight: 700;
}

p {
    font-family: 'PT Sans';
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
}
ul li {
    list-style-type: none;
}

/*===FONTS===*/


/*====HEADER====*/

.header {
    background-color: #ffff;
    position: fixed;
    width: 100%;
    z-index: 1;
    .container {
        display: flex;
        justify-content: space-between;
        
    .header__left {
        align-self: center;
     }
    }
}
.header .slash {
    padding: 0px 10px;
    }
.header__left {
    align-self: center;
   
}
.header a, .header span{
    font-family: Staatliches;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    display: inline-block;
    text-decoration: none;
    color: #000000;
    }

/*====HEADER====*/

/*====LINKS====*/

a {
    position: relative;
&::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:#BDBDBD;
    top: 25px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s;
  
}
}
a:hover::after{
    transform: scaleX(1);   
    transition: transform 0.30s;
  
}

/*====LINKS====*/




/*====MAIN====*/

main {
    padding-top: 140px;
   padding-bottom: 750px;
    .container {
        display: flex;
       
    } 
 
 }

/*====ASIDE====*/
aside{
    position: sticky;
    top: 80px;
    width: 385px;
    margin-right: 30px;
    padding: 10px;
    a {
        margin-bottom: 80px;
        position: relative;
        white-space: nowrap;
        &::after {
            top: 55px;
        }
    }
}


/*====ASIDE====*/


/*====TEXT====*/
.container__right {
    h2 {
        padding-top: 28px;  
        position: relative;
        margin-right: 7px;
          &::before {
          content: "";
          width: 100px;
          height: 8px;
          background-color: #000000;
          position: absolute;
          top: 0;
         }
      }
 }


.title {
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    
    .suptext {
     font-family: Farro;
    font-size: 19px;
    font-weight: 300;
    position: absolute;
    top: 27%;
    }
}

section {
    margin-bottom: 70px;
}
.underline {
    text-decoration: underline;
}

.react {
    margin-bottom: 32px;
    &.second {
        margin-bottom: 40px;
    }
    &.third {
        margin-bottom: 37px;
    }
}
.grey-bg {
    background-color: rgb(231, 231, 231);
   
}

/*====TEXT====*/

