* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    
}
.container {
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 28px;
max-width: 1200px;
width: 90%;
margin: 0 auto;
display: flex;
}
a {
    text-decoration: none;
    color: #2F281E;

}
img {
    vertical-align: top;
}
/*===HEADER===*/

header {
    padding-top: 17px;
    padding-bottom: 17px;   
    margin-bottom: 70px;
}

.header_img {
    margin-right: 9px;
    margin-top: -3px;
}
.header_logo {
    margin-right: 198px;
}

.header_links ul li{
    margin-right: 16px;
    display: inline; 
}
.header_links ul li a:hover {
    color: #FF9900;
}
.header_links ul li:last-child {
    margin-right: 0px;
}
nav {
    margin-right: 198px;
}
.btn  {
     font-family: Montserrat;
    font-size: 16px;
    font-weight: 600; 
   padding: 13px 20px;
   width: 110px;
   height: 46px;
    border: 1px solid  #FF9900;;
    background-color:#FF9900;
    border-radius: 4px;
    color:#ffff;
    margin-top: -9px;
    cursor: pointer;
    text-align: center; 

    }
    .btn:hover {
        opacity: 0.6;
    }
#left_btn{
    margin-right: 27.5px;
    color: #2F281E;
background-color: #ffff;
border: 1px solid  #BCD0E5;
;
    }
/*===HEADER===*/


/*===SECTION 1===*/

.left_info h1 {
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: left;
   color: #2F281E; ;
    padding-top: 97px;
    margin-bottom: 31px;    
}
.left_info p {
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
color: #544837;
margin-bottom: 37px;
}
#get_started {
width: 180px;
padding: 13px 43.5px;
white-space: nowrap;
height: 50px;
font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 24px;
}