@media screen and (max-width: 1187px) {
  #section-2 .container .list {
    flex-direction: column;
    justify-content: space-between;
  }
  #section-2 .container .list .first-row,
#section-2 .container .list .second-row {
    justify-content: space-around;
  }
  #section-2 .container .list .list__item {
    align-items: center;
  }
  #section-2 .container .list .list__item .subtitle-text {
    text-align: center;
  }

  .footer {
    padding-top: 100px;
  }
  .footer .list-item.logo {
    display: none;
  }
  .footer .tablet-logo {
    display: flex;
  }
  .footer .list {
    justify-content: space-around;
  }
}
@media screen and (max-width: 992px) {
  nav.links {
    display: none;
  }

  #section-1 .title-text {
    font-size: 38px;
    line-height: 40px;
  }

  #header .header_buttons {
    display: none;
  }

  #hamburger {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  #section-1 .container {
    display: block;
    background: url(../img/section-1/Section-1-img.svg);
    background-position: center center;
    background-size: 100% 100%;
  }
  #section-1 .container .left_info {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    text-shadow: 1px 1px 2px #ffffff;
  }
  #section-1 .container .left_info .title-text {
    text-align: center;
  }
  #section-1 .container .left_info .subtitle-text {
    font-size: 26px;
    text-align: center;
  }
  #section-1 .container .right_info {
    display: none;
  }

  #section-2 .container .list {
    gap: 50px;
  }
  #section-2 .container .list .first-row,
#section-2 .container .list .second-row {
    justify-content: space-around;
    flex-direction: column;
    gap: 50px;
  }
  #section-2 .container .list .list__item {
    width: 100%;
    margin: 0 auto;
  }
  #section-2 .container .list .list__item .title-text {
    font-size: 28px;
  }
  #section-2 .container .list .list__item .subtitle-text {
    text-align: center;
    font-size: 20px;
  }

  .footer .title-text {
    font-size: 25px;
  }
  .footer .list {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .footer .list .list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .list .list-item .title-text {
    text-align: center;
  }
  .footer .list .list-item .input {
    align-items: center;
  }
  .footer .list .links-wrap {
    justify-content: space-around;
    gap: 10px;
  }
  .footer .list .links-wrap .links {
    font-size: 20px;
  }
  .footer .list .logo {
    display: none;
  }
  .footer #form {
    width: 100%;
  }
  .footer #form #user-phone {
    width: 85%;
  }
}
@media screen and (max-width: 426px) {
  #section-1 {
    padding-top: 0px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 376px) {
  #mobile__navigation {
    border-radius: 0 0 10% 10%;
  }
}
@media screen and (max-width: 350px) {
  .footer .link {
    font-size: 16px;
  }
  .footer .footer__links h3.title-text {
    font-size: 16px;
  }
}