@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/header-icons/icomoon.eot?fxt26x');
  src:  url('../fonts/header-icons/icomoon.eot?fxt26x#iefix') format('embedded-opentype'),
    url('../fonts/header-icons/icomoon.ttf?fxt26x') format('truetype'),
    url('../fonts/header-icons/icomoon.woff?fxt26x') format('woff'),
    url('../fonts/header-icons/icomoon.svg?fxt26x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-r-2:before {
  content: "\e900";
  color: #bdbdbd;
}
.icon-r-3:before {
  content: "\e901";
  color: #bdbdbd;
}
.icon-r-4:before {
  content: "\e902";
  color: #bdbdbd;
}
.icon-r-1 .path1:before {
  content: "\e903";
  color: rgb(236, 28, 36);
}
.icon-r-1 .path2:before {
  content: "\e904";
  margin-left: -4.615234375em;
  color: rgb(230, 231, 232);
}
.icon-r-1 .path3:before {
  content: "\e905";
  margin-left: -4.615234375em;
  color: rgb(236, 28, 36);
}
.icon-r-1 .path4:before {
  content: "\e906";
  margin-left: -4.615234375em;
  color: rgb(230, 231, 232);
}
.icon-r-1 .path5:before {
  content: "\e907";
  margin-left: -4.615234375em;
  color: rgb(236, 28, 36);
}
.icon-r-1 .path6:before {
  content: "\e908";
  margin-left: -4.615234375em;
  color: rgb(230, 231, 232);
}
.icon-r-1 .path7:before {
  content: "\e909";
  margin-left: -4.615234375em;
  color: rgb(236, 28, 36);
}
.icon-r-1 .path8:before {
  content: "\e90a";
  margin-left: -4.615234375em;
  color: rgb(230, 231, 232);
}
.icon-r-1 .path9:before {
  content: "\e90b";
  margin-left: -4.615234375em;
  color: rgb(236, 28, 36);
}
.icon-r-1 .path10:before {
  content: "\e90c";
  margin-left: -4.615234375em;
  color: rgb(230, 231, 232);
}
.icon-r-1 .path11:before {
  content: "\e90d";
  margin-left: -4.615234375em;
  color: rgb(236, 28, 36);
}
.icon-r-1 .path12:before {
  content: "\e90e";
  margin-left: -4.615234375em;
  color: rgb(230, 231, 232);
}
.icon-r-1 .path13:before {
  content: "\e90f";
  margin-left: -4.615234375em;
  color: rgb(236, 28, 36);
}
.icon-r-1 .path14:before {
  content: "\e910";
  margin-left: -4.615234375em;
  color: rgb(23, 100, 150);
}
.icon-r-1 .path15:before {
  content: "\e911";
  margin-left: -4.615234375em;
  color: rgb(255, 255, 255);
}
.icon-r-1 .path16:before {
  content: "\e912";
  margin-left: -4.615234375em;
  color: rgb(189, 189, 189);
}
.icon-L-1:before {
  content: "\e913";
  color: #bdbdbd;
}
.icon-L-2:before {
  content: "\e914";
  color: #bdbdbd;
}
.icon-L-3:before {
  content: "\e915";
  color: #bdbdbd;
}
.icon-L-4:before {
  content: "\e916";
  color: #bdbdbd;
}




/*=======ASIDE ICONS======*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/aside-icons/icomoon.eot?sbrn78');
  src:  url('../fonts/aside-icons/icomoon.eot?sbrn78#iefix') format('embedded-opentype'),
    url('../fonts/aside-icons/icomoon.ttf?sbrn78') format('truetype'),
    url('../fonts/aside-icons/icomoon.woff?sbrn78') format('woff'),
    url('../fonts/aside-icons/icomoon.svg?sbrn78#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aside-4:before {
  content: "\e902";
  color: #bdbdbd;
}
.icon-aside-3:before {
  content: "\e900";
  color: #bdbdbd;
}
.icon-aside-1:before {
  content: "\e901";
  color: #bdbdbd;
}
.icon-aside-2:before {
  content: "\e903";
  color: #bdbdbd;
}
.icon-aside-5:before {
  content: "\e904";
  color: #bdbdbd;
}
.icon-aside-7:before {
  content: "\e905";
  color: #bdbdbd;
}
.icon-aside-6:before {
  content: "\e906";
  color: #bdbdbd;
}
.icon-aside-8:before {
  content: "\e907";
  color: #bdbdbd;
}
