@media screen and (max-width: 1430px) {
  body #header .container .nav__right {
    gap: 50px;
  }
  body #header .container .nav__right .lang,
body #header .container .nav__right .list {
    margin-right: 0px;
  }
  body #aside {
    height: 110px;
    width: 97%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px 20px 0 0;
  }
  body #aside .logo {
    margin: 0;
  }
  body #aside .arrow {
    width: 30px;
    height: 30px;
    top: -13px;
    right: 3px;
    transform: rotate(90deg);
  }
  body #aside .arrow img:hover {
    transform: scale(1.2);
  }
  body #aside .dashboard {
    width: auto;
    margin-bottom: 0px;
  }
  body #aside .purple-line {
    margin: 0;
    width: 4px;
    height: 13px;
    background-color: #9e8cfc;
  }
  body #aside .purple-line::after, body #aside .purple-line::before {
    width: 4px;
    height: 9px;
  }
  body #aside .purple-line::after {
    left: 0;
    top: -19px;
  }
  body #aside .purple-line::before {
    left: 0;
    bottom: -15px;
  }
  body #aside .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    gap: 20px;
  }
  body #aside .list .list__item {
    padding: 0;
    justify-content: center;
  }
  body #aside.closed {
    width: 97%;
    height: 80px;
  }
  body #aside.closed .arrow {
    transform: rotate(270deg);
  }
}
@media screen and (max-width: 758px) {
  body #header {
    height: 60%;
    width: 90px;
    right: 10px;
    bottom: 20px;
  }
  body #header.closed {
    transform: translatey(70%) translateX(20px);
  }
  body #header.closed .arrow {
    transform: rotate(-90deg);
  }
  body #header .container {
    flex-direction: column;
    height: 100%;
    padding: 40px 0 40px 0;
    box-shadow: 3px 2px 2px 2px #696969;
  }
  body #header .container .arrow {
    display: block;
  }
  body #header .container .nav__left {
    display: none;
  }
  body #header .container .nav__right {
    flex-direction: column-reverse;
  }
  body #header .container .nav__right .list {
    flex-direction: column;
  }
  body #header .container .nav__right .list .icon {
    font-size: 34px;
  }
  body #header .container .nav__right .lang .lang__img {
    width: 36px;
    height: 36px;
  }
  body #header .container .nav__right .lang h2 {
    display: none;
  }
  body #header .container .nav__right .user-avatar {
    width: 43px;
    height: 43px;
  }
  body #aside {
    top: 0;
    border-radius: 10px;
    margin-top: 20px;
  }
  body #aside .purple-line {
    display: none;
  }
  body #aside .logo {
    margin: 10px;
  }
  body #aside .list {
    height: 100%;
  }
  body #aside .list .list__item {
    height: 100%;
  }
  body #aside .list .list__item .subtext {
    visibility: visible;
    opacity: 1;
  }
  body #aside .list .list__item.mobile {
    display: none;
  }
  body #aside .list__item.dashboard {
    display: none;
  }
  body #aside .arrow {
    transition: all 0.3s ease;
    transform: rotate(180deg);
    top: 85px;
    right: -3px;
  }
  body #aside.closed {
    width: 88px;
    height: 110px;
    left: 16px;
  }
  body #aside.closed .logo {
    position: absolute;
    left: 30px;
  }
  body #aside.closed .arrow {
    transform: rotate(0);
    top: 85px;
    right: -3px;
  }
  body #aside.closed .list {
    transition: all 0.2s ease;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }
}