$base-size: 16;

@mixin fz($size_px) {
  font-size: ($size_px / $base-size) * 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  @include fz(16);
  background-color: #161D31;
  font-family: 'Montserrat';
  font-weight: 400;
}

a,
button {
  cursor: pointer;
  transition: all .2s ease;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;

}

/*====HEADER====*/

#header {
  padding-top: 30px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  transition: all .5s ease;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #283046;
    border-radius: 10px;
    padding: 0 20px;
    height: 80px;
    
    .arrow {
      position: absolute;
      width: 35px;
      height: 35px;
      top: 15px;
      left: -10px;
      transform: rotate(90deg);
      transition: all .3s ease;
      display: none;
    }

    .list {
      display: flex;

    }

    .nav__left {
      .list {
        display: flex;
        gap: 20px;

        li {
          width: 26px;
          height: 26px;
          position: relative;

          .icon {
            font-size: 25px;
            cursor: pointer;

            &.icon-L-1 {
              font-size: 20px;
              position: absolute;
              top: 2px;
              /*Костиль*/

            }
          }

          &:hover .icon:before {
            color: #ffffff;
          }
        }
      }
    }

    .nav__right {
      display: flex;
      align-items: center;

      .lang {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-right: 60px;
        cursor: pointer;

        .lang__img {
          width: 26px;
          height: 26px;
        }

        h2 {
          font-size: 18px;
          color: #BDBDBD;
          font-weight: 400;

          &:hover {
            color: #fff;
          }
        }

      }

      .list {
        display: flex;
        gap: 20px;
        margin-right: 50px;

        .icon {
          font-size: 27px;
          cursor: pointer;

        }

        li {
          &:hover .icon:before {
            color: #fff;
          }
        }

      }

      .user-avatar {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }

    }

  }
}

/*====HEADER====*/

/*====HEADER==MOBILE====*/



/*====HEADER==MOBILE====*/

/*====MAIN====*/

#main {
  padding-top: 120px;

  .container {
    max-width: 1319px;
  }
}

/*====ASIDE====*/
#aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  height: 100%;
  width: 110px;
  background-color: #283046;
  transition: all .3s ease;
  z-index: 1000;

  .logo {
    width: 32px;
    height: 32px;
    margin-top: 30px;
    margin-bottom: 41px;
  }

  .arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 36px;
    cursor: pointer;
    transition: all .3 ease;
    transform: rotate(-180deg);
    transition: all .3s ease;

    img {
      transition: all .2s ease;

      &:hover {
        transform: scale(1.6);

      }

    }
  }

  .subtext {
    color: #BDBDBD;
    font-size: 14px;
    white-space: nowrap;
    transition: all .3s ease;
    opacity: 1;

  }

  .list {
    width: 100%;

  }

  .list__item {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80px;
    cursor: pointer;
    transition: all .3s ease;

    i {
      transition: all .3s ease;
    }

    &:hover {
      background-color: #9E8CFC;
    }

    &:hover i:before {
      color: #ffffff;
    }

    &:hover .subtext {
      color: #ffffff;
    }

    i {
      font-size: 31px;
      margin-bottom: 10px;
    }

    .icon-notify {
      position: relative;

      img {
        position: absolute;
        width: 20px;
        height: 20px;
        top: -6px;
        right: -14px;
      }
    }
  }


  .dashboard {
    margin-bottom: 34px;
  }

  .purple-line {
    width: 13px;
    height: 4px;
    border-top: 4px solid #9E8CFC;
    border-radius: 10px;
    position: relative;
    margin-bottom: 15px;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -14px;
      width: 9px;
      height: 4px;
      background-color: #9E8CFC;
      border-radius: 10px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -14px;
      width: 9px;
      height: 4px;
      background-color: #9E8CFC;
      border-radius: 10px;
    }
  }
}

#aside.closed {
  width: 80px;

  .arrow {
    transform: rotate(0deg);

    
  }

  .subtext {
    visibility: hidden;
    overflow: hidden;
    transition: all .3s ease;
    opacity: 0;
  
  }

  .list__item {
    justify-content: center;

    i {
      margin-bottom: 0;

    }
  }
}