@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
  background-color: #161D31;
  font-family: "Montserrat";
  font-weight: 400;
}

a,
button {
  cursor: pointer;
  transition: all 0.2s ease;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

/*====HEADER====*/
#header {
  padding-top: 30px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  transition: all 0.5s ease;
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #283046;
  border-radius: 10px;
  padding: 0 20px;
  height: 80px;
}
#header .container .arrow {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 15px;
  left: -10px;
  transform: rotate(90deg);
  transition: all 0.3s ease;
  display: none;
}
#header .container .list {
  display: flex;
}
#header .container .nav__left .list {
  display: flex;
  gap: 20px;
}
#header .container .nav__left .list li {
  width: 26px;
  height: 26px;
  position: relative;
}
#header .container .nav__left .list li .icon {
  font-size: 25px;
  cursor: pointer;
}
#header .container .nav__left .list li .icon.icon-L-1 {
  font-size: 20px;
  position: absolute;
  top: 2px;
  /*Костиль*/
}
#header .container .nav__left .list li:hover .icon:before {
  color: #ffffff;
}
#header .container .nav__right {
  display: flex;
  align-items: center;
}
#header .container .nav__right .lang {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 60px;
  cursor: pointer;
}
#header .container .nav__right .lang .lang__img {
  width: 26px;
  height: 26px;
}
#header .container .nav__right .lang h2 {
  font-size: 18px;
  color: #BDBDBD;
  font-weight: 400;
}
#header .container .nav__right .lang h2:hover {
  color: #fff;
}
#header .container .nav__right .list {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}
#header .container .nav__right .list .icon {
  font-size: 27px;
  cursor: pointer;
}
#header .container .nav__right .list li:hover .icon:before {
  color: #fff;
}
#header .container .nav__right .user-avatar {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

/*====HEADER====*/
/*====HEADER==MOBILE====*/
/*====HEADER==MOBILE====*/
/*====MAIN====*/
#main {
  padding-top: 120px;
}
#main .container {
  max-width: 1319px;
}

/*====ASIDE====*/
#aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  height: 100%;
  width: 110px;
  background-color: #283046;
  transition: all 0.3s ease;
  z-index: 1000;
}
#aside .logo {
  width: 32px;
  height: 32px;
  margin-top: 30px;
  margin-bottom: 41px;
}
#aside .arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  top: 36px;
  cursor: pointer;
  transition: all 0.3 ease;
  transform: rotate(-180deg);
  transition: all 0.3s ease;
}
#aside .arrow img {
  transition: all 0.2s ease;
}
#aside .arrow img:hover {
  transform: scale(1.6);
}
#aside .subtext {
  color: #BDBDBD;
  font-size: 14px;
  white-space: nowrap;
  transition: all 0.3s ease;
  opacity: 1;
}
#aside .list {
  width: 100%;
}
#aside .list__item {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#aside .list__item i {
  transition: all 0.3s ease;
}
#aside .list__item:hover {
  background-color: #9E8CFC;
}
#aside .list__item:hover i:before {
  color: #ffffff;
}
#aside .list__item:hover .subtext {
  color: #ffffff;
}
#aside .list__item i {
  font-size: 31px;
  margin-bottom: 10px;
}
#aside .list__item .icon-notify {
  position: relative;
}
#aside .list__item .icon-notify img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -6px;
  right: -14px;
}
#aside .dashboard {
  margin-bottom: 34px;
}
#aside .purple-line {
  width: 13px;
  height: 4px;
  border-top: 4px solid #9E8CFC;
  border-radius: 10px;
  position: relative;
  margin-bottom: 15px;
}
#aside .purple-line:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -14px;
  width: 9px;
  height: 4px;
  background-color: #9E8CFC;
  border-radius: 10px;
}
#aside .purple-line:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -14px;
  width: 9px;
  height: 4px;
  background-color: #9E8CFC;
  border-radius: 10px;
}

#aside.closed {
  width: 80px;
}
#aside.closed .arrow {
  transform: rotate(0deg);
}
#aside.closed .subtext {
  visibility: hidden;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
}
#aside.closed .list__item {
  justify-content: center;
}
#aside.closed .list__item i {
  margin-bottom: 0;
}