* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
}

a,
button {
  cursor: pointer;
  transition: all 0.2s ease;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

/*=====HEADER=====*/
.header {
  box-shadow: 0px 1px #EFEEF3;
}
.header .container {
  padding: 22px 0px;
}

.logo {
  max-width: 200px;
}

.header-logo img {
  stroke: #ffff;
}

/*=====HEADER=====*/
/*=====MAIN=====*/
.main .container {
  padding: 100px 0px;
}

.main h1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #7690A8;
  margin-bottom: 15px;
}

.main h2 {
  font-family: Nunito Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  margin-bottom: 32px;
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.list .list__item {
  max-width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E5EAF4;
  border-radius: 8px;
  padding: 40px;
}
.list .list__item:hover {
  border: 1px solid #3DB370;
}
.list .list__item .content-box {
  max-width: 290px;
}

.svg {
  width: 64px;
  height: 64px;
  border: 1px solid #E5EAF4;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}
.svg:hover .icon {
  opacity: 0;
}
.svg:hover .green {
  opacity: 1;
}

.icon {
  width: 39px;
  height: 36px;
  cursor: pointer;
  position: absolute;
  transition: all 0.3s ease;
}

.green {
  opacity: 0;
  transition: all 0.3s ease;
}

h3 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 15px;
}

p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 25px;
  max-width: 275px;
}

.main .container a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #3DB370;
}

/*=====MAIN=====*/
/*=====FOOTER=====*/
.footer {
  background-color: #16133D;
  padding: 40px 0px;
}
.footer .container {
  display: flex;
  flex-direction: column;
}
.footer .logo {
  margin-bottom: 40px;
}

.socials-list {
  display: flex;
}
.socials-list .socials-list__item {
  margin-right: 10px;
  width: 38px;
  height: 38px;
  background-color: #EFEEF3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.socials-list .socials-list__item:hover i {
  color: #3DB370;
}
.socials-list .socials-list__item:last-child {
  margin-right: 0px;
}

.footer a {
  text-decoration: none;
  color: #0D0D0D;
}