* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body html {
    width: 100%;
    height: 100%;
    
}



#gender li {
    list-style: none;
    
    
    
}


.container {
    width: calc(100% - 30px);
    max-width: 650px;
    font-family: 'Open Sans', sans-serif;
    margin: 250px auto;
    font-size: 20px;  
}

label {
    width: 300px;
    display: inline-block;
}

form {
	background: #155535;
	color: white;
    border-radius: 10px;
}
button {
    margin: 10px 75px;
	font-size: 14pt;
	color: white;
	background: #00694f;
	height: 55px;
	padding: 10px;
	border: 1px solid #F5C4AB;
}
button:hover {
    background: #69000e;
}

