@media screen and (max-width: 860px) {
    .product_list {
        flex-wrap: wrap;
        gap: 40px;
        width: 500px;
        margin: 0 auto; 
    }
    .product__item {
        margin: 0 auto;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 570px) {
    .product_list {
        
       align-items: center;
       width: 250px;
       margin: 0 auto;
       
    }
    .btn {
        width: 100%;
    }
    header {
        display: none;
        
    }
    .lang {
        display: none;
    }
    .title-box {
        flex-direction: column;
        align-items: start;
    }
    main {
        padding-top: 65px;
    }
    #photo {
        padding-top: 0px;
    }
    #photo h1 {
        margin-bottom: 23px;
    }
    .novik-desktop {
        display: none;
    }
    .novik-mobile {
        display: block;
    }
}    
